version: '3'
services:    
    larmerce-hyperf: 
      build: ./larmerce
      container_name: larmerce-hyperf
      restart: unless-stopped
      ports:
        - "9501:9501"
        - "9502:9502"
      volumes:        
        - "./larmerce:/larmerce:cached" # 挂载文件访问慢 :cached            
      command: ["php", "bin/hyperf.php", "start"]        
      privileged: true
      networks:
        - larmerce-network
    larmerce-redis:
      image: redis:6.0
      container_name: larmerce-redis
      restart: unless-stopped
      ports:
        - "6379:6379"
      volumes:
        - "./redis/redis.conf:/usr/local/etc/redis/redis.conf"
        - "./redis/data:/data"
      command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
      networks:
        - larmerce-network
    larmerce-mysql:
        image: mysql:5.7
        container_name: larmerce-mysql
        restart: unless-stopped
        ports:            
            - "33306:3306"
        volumes:            
            - ./mysql:/var/lib/mysql
        environment:
            - MYSQL_ROOT_PASSWORD=root
        networks:
            - larmerce-network
networks:
    larmerce-network:
        driver: bridge