@import './variables.scss';
@import './sidebar.scss';

/*
 * base style
 * element ui style
 *
 */


/* base style */

html,
body {
  height: 100%;
  background: #f8f9fe;
  box-sizing: border-box;  
  font-family: Open Sans, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;  
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right !important;
}

.fl {
  float: left !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.pb-1 {
  padding-bottom: 5px !important;
}

.py-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pr-1 {
  padding-right: 5px !important;
}

.px-1 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pt-2 {
  padding-top: 10px !important;
}

.pb-2 {
  padding-bottom: 10px !important;
}

.py-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pr-2 {
  padding-right: 10px !important;
}

.px-2 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}


.mt-1 {
  margin-top: 5px !important;
}

.mb-1 {
  margin-bottom: 5px !important;
}

.my-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.ml-1 {
  margin-left: 5px !important;
}

.mr-1 {
  margin-right: 5px !important;
}

.mx-1 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mt-2 {
  margin-top: 10px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.my-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.ml-2 {
  margin-left: 10px !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mt-3 {
  margin-top: 15px !important;
}

.mb-3 {
  margin-bottom: 15px !important;
}

.my-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.ml-3 {
  margin-left: 15px !important;
}

.mr-3 {
  margin-right: 15px !important;
}

.mx-3 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.my-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.ml-4 {
  margin-left: 20px !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.mx-4 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.d-block {
  display: block !important;
}

.pointer {
  cursor: pointer;
}

.d-inline-block {
  display: block !important;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.text-xs {
  font-size: 12px !important;
  line-height: 1.3 !important;
}

.text-sm {
  font-size: 13px !important;
  line-height: 1.3 !important;
}

.text-md {
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.text-lg {
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.text-xl {
  font-size: 18px !important;
  line-height: 1.5 !important;
}

.text-muted {
  color: $muted !important;
}

.text-blue {
  color: $blue !important;
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-pink {
  color: $pink !important;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.main-content {
  min-height: 100%;  
  margin-left: 250px;
  position: relative;
}

.mobile {
  .main-content {
    margin-left: 0;
  }
}

.content-container {
  padding: 15px;
}

/* element ui style */
.el-breadcrumb__inner {
  color: $muted !important;
  font-size: 12px;
  &.is-link {
    font-weight: normal;
    color: $purple !important;
  }
}
